<!DOCTYPE html>
<html lang="en">
<head>
    <title>1111嗨购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/lib.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style>
        .c_float{
            position: fixed;
            display: none;
            margin-top: 100px;
            width: 100%;
        }
        img{
            width:100%;
            height: 50%;
        }
        tr,td{
            border: 0px;
        }
    </style>
</head>
<body style=" bgcolor:#FFFFFF; margin:0 auto; padding: 0; max-width:750px">
<div><img src="#" class="c_float" id="float"></div>
<div class="nav-bar">
    <div class="nav-menu">
        <a href="javascript:void(0);" class="iconfont icon-back icon-chevron-thin-left" id="backapp"></a>
        <ul class="tab-list-nav">
            <li class="active">
                <p>1111嗨购</p>
            </li>
        </ul>
    </div>
</div>
<table>
    <tr>
        <td colspan="2">
            <img src="/img/1111shop/1109DAJIANG_01.jpg" alt=""></td>
    </tr>
    <tr>
        <td colspan="2"><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=166&mine=mine"><img src="/img/1111shop/1109DAJIANG_02.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="/img/1111shop/1109DAJIANG_03.jpg" alt=""></td>
    </tr>
    <tr>
        <td colspan="2"><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=163&mine=mine"><img src="/img/1111shop/1109DAJIANG_04.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=135&mine=mine"><img src="/img/1111shop/1109DAJIANG_05.jpg"  alt=""></a></td>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=19&mine=mine"><img src="/img/1111shop/1109DAJIANG_06.jpg"  alt=""></a></td>
    </tr>
    <tr>
        <td colspan="2"><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=1&mine=mine"><img src="/img/1111shop/1109DAJIANG_07.jpg"  alt=""></a></td>
    </tr>
    <tr>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=134&mine=mine" target="_blank"><img src="/img/1111shop/1109DAJIANG_08.jpg"  alt=""></a></td>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=59&mine=mine"><img src="/img/1111shop/1109DAJIANG_09.jpg"  alt=""></a></td>
    </tr>
    <tr>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=164&mine=mine"><img src="/img/1111shop/1109DAJIANG_10.jpg" alt=""></a></td>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=153&mine=mine"><img src="/img/1111shop/1109DAJIANG_11.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td colspan="2"><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=174&mine=mine"><img src="/img/1111shop/1109DAJIANG_12.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td colspan="2"><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=8&mine=mine"><img src="/img/1111shop/1109DAJIANG_13.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td colspan="2"><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=136&mine=mine"><img src="/img/1111shop/1109DAJIANG_14.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=21&mine=mine"><img src="/img/1111shop/1109DAJIANG_15.jpg" alt=""></a></td>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=23&mine=mine"><img src="/img/1111shop/1109DAJIANG_16.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=27&mine=mine"><img src="/img/1111shop/1109DAJIANG_17.jpg" alt=""></a></td>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=26&mine=mine"><img src="/img/1111shop/1109DAJIANG_18.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=30&mine=mine"><img src="/img/1111shop/1109DAJIANG_19.jpg" alt=""></a></td>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=171&mine=mine"><img src="/img/1111shop/1109DAJIANG_20.jpg" alt=""></a></td>
    </tr>
    <tr>
        <td><a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=47&mine=mine"><img src="/img/1111shop/1109DAJIANG_21.jpg" alt=""></a></td>
        <td><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=18&mine=mine"><img src="/img/1111shop/1109DAJIANG_22.jpg" alt=""></a></td>
    </tr>
</table>
</body>
<script type="text/javascript" src="/assets/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/assets/hybrid_app.js"></script>
<script type="text/javascript" src="/assets/common.js"></script>
<script type="text/javascript" src="/assets/b64_hmac_sha1.js"></script>
<script type="text/javascript" src="/assets/ajax.js"></script>
<script>
    $(function () {
        var back = document.getElementById("backapp");
        back.onclick = function () {
            window.location.href='/#/home';
        };
    })
</script>
</html>